.solunes-store {
  /* Store: Table */
  /* Store: Form */
  /* Store: Cart */
  /* Store: Finish Sale */ }
  .solunes-store h1 {
    font-size: 30px; }
  .solunes-store h3 {
    font-size: 26px; }
  .solunes-store p {
    margin-top: 0;
    margin-bottom: 15px; }
  .solunes-store .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
  .solunes-store .order-block {
    background: #f2f2f2;
    padding: 30px 40px 45px; }
  .solunes-store .table-bordered-top {
    border-top: 1px solid #ddd; }
    .solunes-store .table-bordered-top td, .solunes-store .table-bordered-top th {
      border-bottom: 1px solid #ddd; }
  .solunes-store .method-title {
    margin-top: 30px; }
  .solunes-store .panel-title {
    font-weight: bold; }
  .solunes-store .payment-method {
    margin-bottom: 30px;
    margin-top: 20px; }
  .solunes-store .table-responsive {
    overflow-x: auto;
    min-height: .01%; }
  .solunes-store .table-content table {
    background: #fff;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 40px;
    text-align: center;
    width: 100%; }
    .solunes-store .table-content table td, .solunes-store .table-content table th {
      border-top: medium none;
      padding: 20px 10px;
      vertical-align: middle;
      border-bottom: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5; }
    .solunes-store .table-content table th {
      border-bottom: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap; }
    .solunes-store .table-content table td {
      font-size: 13px; }
    .solunes-store .table-content table input {
      background: #e5e5e5;
      border: none;
      border-radius: 3px;
      color: #6f6f6f;
      font-size: 15px;
      font-weight: 400;
      height: 40px;
      padding: 0 5px 0 10px;
      width: 60px; }
  .solunes-store table.table-store {
    margin-bottom: 30px; }
    .solunes-store table.table-store td.strong {
      font-weight: bold; }
    .solunes-store table.table-store tr {
      display: table-row; }
    .solunes-store table.table-store th {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap; }
    .solunes-store table.table-store td, .solunes-store table.table-store th {
      border-bottom: 1px solid #ddd !important;
      border-top: medium none;
      padding: 20px 10px;
      vertical-align: middle;
      text-align: center; }
    .solunes-store table.table-store td input {
      background: #e5e5e5;
      border: none;
      border-radius: 3px;
      color: #6f6f6f;
      font-size: 15px;
      font-weight: 400;
      height: 40px;
      padding: 0 5px 0 10px;
      width: 60px; }
    .solunes-store table.table-store td.product-thumbnail {
      width: 130px;
      padding: 10px; }
    .solunes-store table.table-store td.product-price {
      width: 130px; }
    .solunes-store table.table-store td.product-quantity {
      width: 180px; }
    .solunes-store table.table-store td.product-name {
      width: 270px; }
    .solunes-store table.table-store td.amount {
      color: #4c99bf;
      font-size: 18px;
      font-weight: 700; }
    .solunes-store table.table-store td.product-remove i {
      color: #919191;
      display: inline-block;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 40px; }
    .solunes-store table.table-store td.product-remove i:hover {
      color: #4c99bf; }
  .solunes-store .store-form {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5; }
  .solunes-store .checkout-form-list {
    margin-bottom: 30px; }
  .solunes-store input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 42px;
    width: 100%;
    padding: 0 0 0 10px; }
  .solunes-store select {
    width: 100%;
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #626262; }
  .solunes-store input.btn-site {
    width: auto;
    padding-left: 15px;
    padding-right: 15px; }
  .solunes-store .cart_totals {
    float: left;
    text-align: right;
    width: 100%; }
    .solunes-store .cart_totals table tr.order-total th, .solunes-store .cart_totals table tr.order-total .amount {
      font-size: 20px;
      text-transform: uppercase;
      white-space: nowrap; }
    .solunes-store .cart_totals table th {
      border: none;
      font-size: 14px;
      font-weight: 700;
      padding: 0 20px 12px 0;
      text-align: right;
      text-transform: uppercase;
      vertical-align: top; }
    .solunes-store .cart_totals table td {
      border: none;
      padding: 0 0 12px;
      vertical-align: top; }
      .solunes-store .cart_totals table td .amount {
        color: #4c99bf;
        float: right;
        font-size: 13px;
        font-weight: 700;
        margin-left: 5px;
        text-align: right;
        text-transform: uppercase; }
  .solunes-store .wc-proceed-to-checkout {
    clear: both;
    display: block; }
    .solunes-store .wc-proceed-to-checkout a {
      background: #4c99bf;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      margin-top: 20px;
      padding: 0 30px;
      text-transform: none; }
    .solunes-store .wc-proceed-to-checkout a:hover {
      background: #252525;
      color: #fff; }
  .solunes-store .buttons-cart {
    margin-bottom: 30px;
    overflow: hidden; }
    .solunes-store .buttons-cart a {
      color: #fff;
      float: left;
      height: 40px;
      line-height: 40px; }
    .solunes-store .buttons-cart a, .solunes-store .buttons-cart input {
      background: #252525;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #fff;
      display: inline-block;
      float: left;
      font-size: 12px;
      font-weight: 700;
      height: 40px;
      line-height: 40px;
      margin-right: 15px;
      padding: 0 15px;
      text-shadow: none;
      text-transform: uppercase;
      transition: all .3s ease 0s;
      white-space: nowrap;
      width: inherit; }
    .solunes-store .buttons-cart input {
      background: #252525;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #fff;
      display: inline-block;
      float: left;
      font-size: 12px;
      font-weight: 700;
      height: 40px;
      line-height: 40px;
      margin-right: 15px;
      padding: 0 15px;
      text-shadow: none;
      text-transform: uppercase;
      transition: all .3s ease 0s;
      white-space: nowrap;
      width: inherit; }
    .solunes-store .buttons-cart a:hover, .solunes-store .buttons-cart input:hover {
      background: #4c99bf;
      color: #fff; }
  .solunes-store .coupon-info p.form-row input[type=submit]:hover, .solunes-store p.checkout-coupon input[type=submit]:hover {
    background: #136957; }
  .solunes-store .checkout-area h3 {
    margin-bottom: 20px; }
  .solunes-store .order-block h3 {
    border-bottom: 1px solid #d8d8d8;
    color: #333;
    font-size: 20px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%; }
  .solunes-store .panel-heading h4 a {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 17px; }
  .solunes-store .panel-body p {
    font-size: 14px; }
  .solunes-store .required {
    color: red;
    font-weight: 700; }
  .solunes-store input.btn-site {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #252525;
    color: white;
    border: none;
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    margin: 20px 0 0;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    width: 100%; }
  .solunes-store input[type="submit"]:hover, .solunes-store input[type="submit"]:focus {
    background: #4c99bf; }
  .solunes-store select {
    background: #fff !important; }
  .solunes-store h4 {
    font-size: 18px;
    color: #525252;
    font-weight: 700;
    text-transform: uppercase; }
  .solunes-store h3 {
    font-size: 24px;
    color: #333;
    font-weight: 700; }
